<p-toast></p-toast>
<div class="pwd-background">
    <div class="container-change">
        <div class="card-login">
                <div class="grid">
                    <div class="col-12 login-ttl">
                        Change Password
                    </div>
                </div>
                <form [formGroup]="cpFormGroup">

                    <div class="grid">
                        <div class="col-12">
                            <p-password type="password" class="log-pass" placeholder="Current Password" formControlName="curr_password" [feedback]="false"></p-password>
                            <small *ngIf="cpForm.curr_password.invalid && isSubmitted" class="p-error">
                                <span *ngIf="cpForm.curr_password.errors.required">Current Password is required!</span>
                            </small>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-12">
                            <p-password type="password" class="log-pass" placeholder="New Password" formControlName="new_password" pattern='^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$'>
                                <ng-template pTemplate="header">
                                    <h4>Pick a password</h4>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <p class="mt-2">Suggestions</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>At least one lowercase</li>
                                        <li>At least one uppercase</li>
                                        <li>At least one numeric</li>
                                        <li>Minimum 8 characters</li>
                                    </ul>
                                </ng-template>
                            </p-password>
                            <small *ngIf="cpForm.new_password.invalid && isSubmitted" class="p-error">
                                <span *ngIf="cpForm.new_password.errors.required">New Password is required!</span>
                                <span *ngIf="cpForm.new_password.errors?.['pattern']">Password should be greater than 8 characters with special characters !</span>
                            </small>
                        </div>
                    </div> 
                    <div class="grid">
                        <div class="col-12">
                            <p-password type="password" class="log-pass" placeholder="Confirm New Password" formControlName="confirm_password" [feedback]="false"></p-password>
                            <small *ngIf="cpForm.confirm_password.touched && cpForm.confirm_password.invalid" class="p-error">
                                <span *ngIf="cpForm.confirm_password.errors.confirmedValidator">New Password and Confirm Password must match.</span>
                            </small>
                            <small *ngIf="cpForm.confirm_password.invalid && isSubmitted" class="p-error">
                                <span *ngIf="cpForm.confirm_password.errors.required">Confirm Password is required!</span>
                            </small>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="col-12" *ngIf="isSubmitted && authError">
                            <small class="p-error">{{authErrorMessage}}</small>
                        </div>
                    </div>
                    
                    <div class="grid">
                        <div class="col-12 log_button" >
                            <p-button label="Submit" styleClass="p-button-sm" (onClick)="onSubmit()"></p-button>     
                        </div>
                    </div>  
                </form>
                <div class="grid">
                    <div class="col-12 back-login"> 
                        <a (click)="onCancel()"><em  class="pi pi-arrow-circle-left" style="font-size: small"></em> Back </a>     
                    </div>
                </div> 
        </div>
    </div>
</div>
