<stl-garv-frontend-bread-crumb></stl-garv-frontend-bread-crumb>
<div class="g2c-service-home">
    <div class="grid global">
        <div class="col-3 title">
            <h2>G2C Services</h2>
        </div>
    </div>
    <div class="grid global">
        <div class="col card-space">
            <a href="https://www1.incometaxindiaefiling.gov.in/e-FilingGS/Services/LinkAadhaarHome.html?lang=eng" >
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                          <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/aadharpanlink.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">E-Aadhar Pan Link</div>
                        <p class="font"> 
                            Link your Aadhar Card with Pan Card. 
                        </p>
                   </div>
                </p-card>
            </a>
        </div>
        <div class="col card-space">
            <a href="https://ssup.uidai.gov.in/ssup/">
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                           <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/aadharupdate.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Aadhar Update</div>
                        <p class="font"> 
                            Please update your Aadhar Details. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
        <div class="col card-space">
            <a href="https://mahabocw.in/" >
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/bandhankamgar.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Bandha Kamgar</div>
                        <p class="font"> 
                           Please click on this tab to access MAHABOCW.
                        </p>
                </div>
                </p-card>
            </a>
        </div>
        
    </div>

    <!-- Second row -->
    <div class="grid global">
        <div class="col card-space">
            <a href="http://crsorgi.gov.in/web/index.php/auth/login">
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/deathcert.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Death Certificate</div>
                        <p class="font"> 
                            Get your Death Certificate from here. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
        <div class="col card-space">
            <a href="https://sarathi.parivahan.gov.in/sarathiservice/stateSelection.do">
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/drivinglicense.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Driving License</div>
                        <p class="font"> 
                            Apply for Driving License. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
        <div class="col card-space">
            <a href="https://rojgar.mahaswayam.gov.in/#/home/index">
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/employmentregister.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Employment Registration</div>
                        <p class="font"> 
                            Please register for Employment (Rojgar). 
                        </p>
                </div>
                </p-card>
            </a>
        </div>   
    </div>
    <!--Third row-->
    <div class="grid global">
        <div class="col card-space">
            <a href="https://pmfby.gov.in/">
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/fasalbhima.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Fasal Bhima Yojna</div>
                        <p class="font"> 
                            Please click on this tab to access PMFBY. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
        <div class="col card-space">
            <a href="https://jeevanpramaan.gov.in/" >
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/jeevanpramaan.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Jeevan Praman Patra</div>
                        <p class="font"> 
                             Digital Life Certificate for Pensioners 
                        </p>
                </div>
                </p-card>
            </a>
        </div>

        <div class="col card-space">
            <a href="https://digitalsatbara.mahabhumi.gov.in/dslr" >
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/bhunaksha.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Land Record</div>
                        <p class="font"> 
                            Download digitally signed 7/12, 8A & Property Card 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
    </div>
    
    <!--Fourth row-->
    <div *ngIf="showdiv" class="grid global">
        <div class="col card-space">
            <a href="https://mahadbtmahait.gov.in/">
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/MahaDBT.jpg">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">MAHA DBT</div>
                        <p class="font"> 
                            Online Scholarship Portal for Maharashtra.
                        </p>
                </div>
                </p-card>
            </a>
        </div>
        <div class="col card-space">
            <a href="http://mkisan.gov.in/wbreg.aspx" >
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/mkisan.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">mKisan</div>
                        <p class="font"> 
                            Please click on this tab to access mKisan portal. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>

        <div class="col card-space">
            <a href="https://www.onlineservices.nsdl.com/paam/endUserRegisterContact.html" >
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/Pan-Card.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Pan Card</div>
                        <p class="font"> 
                            Get Your Pan card from here. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
    </div>
 
    <!--Fifth row-->
    <div *ngIf="showdiv" class="grid global">
        <div class="col card-space">
            <a href="https://maandhan.in/auth/login">
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/pmpension.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Pension</div>
                        <p class="font"> 
                            Please click on this tab to access Maandhan portal. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
        <div class="col card-space">
            <a href="https://pmkisan.gov.in/RegistrationForm.aspx" >
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card"  src="{{cloudFrontURL}}new-G2C_Services/PMKisan.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">PM Kisan</div>
                        <p class="font"> 
                            Please click on this tab to access PM Kisan Yojna. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>

        <div class="col card-space">
            <a href="https://www.pmgdisha.in/" >
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/pmgdisha.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">PMGDISHA</div>
                        <p class="font"> 
                            Please click on this tab to access PMGDISHA. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
    </div>

    <!--Sixth row-->
    <div *ngIf="showdiv" class="grid global">
        <div class="col card-space">
            <a href="https://dbt.mahapocra.gov.in/">
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/PoCRA.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">POCRA</div>
                        <p class="font"> 
                            Please click on this tab to access POCRA. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
        <div class="col card-space">
            <a href="https://scholarships.gov.in/" >
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/scholarshipform.jpg">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Scholarship Form (Pre)</div>
                        <p class="font"> 
                            National Scholarship Portal 
                        </p>
                </div>
                </p-card>
            </a>
        </div>

        <div class="col card-space">
            <a href="https://mahadbtmahait.gov.in/login/login" >
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/scholrshipform-post.png">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Scholarship Form (Post)</div>
                        <p class="font"> 
                            Post Matric Scholarship Portal Maharashtra. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
    </div>

    <!--Seventh row-->
    <div *ngIf="showdiv" class="grid global">
        <div class="col-4 card-space">
            <a href="https://www.irctc.co.in/nget/train-search">
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/trainticketbook.jpg">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Train Ticket</div>
                        <p class="font"> 
                            Book your train tickets from here. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
        <div class="col-4 card-space">
            <a href="https://www.nvsp.in/" >
                <p-card header="" >
                    <ng-template pTemplate="header">
                        <div class="text-center">
                            <img alt="Card" src="{{cloudFrontURL}}new-G2C_Services/votercard.jpg">
                        </div>
                    </ng-template>
                    <div>
                        <div class="card-title">Voter ID</div>
                        <p class="font"> 
                            Get Your Voter ID from here. 
                        </p>
                </div>
                </p-card>
            </a>
        </div>
    </div>

    <div class="grid global">
        <div class="col-12 view-more text-center">
          <p-button *ngIf="!showdiv" label="View More" icon="pi pi-angle-down" iconPos="right" styleClass="p-button-sm" (onClick)="showDiv()"></p-button>
          <p-button *ngIf="showdiv" label="View Less" icon="pi pi-angle-up" iconPos="right" styleClass="p-button-sm" (onClick)="hideDiv()"></p-button>
        </div>
    </div>

</div>



