<stl-garv-frontend-bread-crumb></stl-garv-frontend-bread-crumb>
<div class="e-portal-home" style="padding-top:0px;">
    <div class="portal-header">
        <div class="grid global">
            <div class="col-12 md:col-4 lg:col-4 title">
                E-Portal
            </div>
            <div class="col-12 md:col-4 lg:col-4">
           </div>
            <div class="col-12 md:col-4 lg:col-4">
                <div class="product-search">
                    <em class="pi pi-search"></em> 
                    <input 
                    type="text"
                    class="searchTerm"
                    [(ngModel)]="term"
                    placeholder="Search Product"
                    />
                </div>    
            </div>
        </div>
    </div>

    <div class="grid service-filter">
        <div class="col-12 md:col-12">
            <form [formGroup]="form"> 
                <div class="grid global filter-background">
                    <div class="sm:col-12 md:col-12 lg-col-12 text-right">
                        <a (click)="getAllProducts()">Clear Filters</a>
                    </div>
                            <div class="field sm:col-12 md:col-12 lg:col-5 xl:col-5">
                                <div class="grid">
                                    <div class="sm:col-2 md:col-2 lg:col-2 xl:col-2 text-center"><img src="{{cloudFrontURL}}new_ecomm/service-provider-icon.png" alt="Img" style="margin: 10px 0px 0px 10px"></div>
                                    <div class="sm:col-10 md:col-10 lg:col-10 xl:col-10">
                                        <label for="manufacturers"><strong>Service Provider</strong></label>
                                        <p-dropdown
                                            formControlName="f_manufacturers"
                                            [options]="manufacturers"
                                            optionLabel="manufacturer_title"
                                            optionValue="manufacturer_id"
                                            [style]="{ width: '100%' }"
                                            [filter]="true"
                                            filterBy="manufacturer_title"
                                            [showClear]="true"
                                            placeholder="Filter Manufacturers"
                                            appendTo="body"
                                        >
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
        
                            <div class="field col-12 md:col-12 lg:col-5 xl:col-5">
                                <div class="grid">
                                    <div class="sm:col-2 md:col-2 lg:col-2 xl:col-2"><img src="{{cloudFrontURL}}new_ecomm/category-icon.png" alt="Img" style="margin: 10px 0px 0px 10px"></div>
                                    <div class="sm:col-10 md:col-10 lg:col-10 xl:col-10">
                                        <label for="categories"><strong>Categories</strong></label>
                                        <p-dropdown
                                            formControlName="f_categories"
                                            [options]="categories"
                                            optionLabel="p_cat_title"
                                            optionValue="p_cat_id"
                                            [style]="{ width: '100%' }"
                                            [filter]="true"
                                            filterBy="p_cat_title"
                                            [showClear]="true"
                                            placeholder="Filter Categories"
                                            appendTo="body"
                                          >
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                              
                                <div class="field sm:col-12 md:col-12 lg-col-2 xl:col-2 log_button text-right" >
                                    <p-button label="Submit"  (click)="filterProduct()" ></p-button>     
                                </div>
            
                                <!-- <div class="field col-12 md:col-2 lg-col-2 text-right">
                                    <button pButton pRipple type="button" label="Clear Filter" class="p-button-outlined" (click)="getAllProducts()"></button>
                                </div> -->
                            
                </div>
            </form>
                    
                
        </div>
    </div>

    <div>
        <div class="grid global product-card">
            <div class="sm:col-12 md:col-6 lg:col-6 xl:col-4 product-grid" *ngFor="let products of productList | filter: term">
                     
                        <div class="product-item">
                            <div class="product-item-wrapper">
                              <div>
                                 <img  src="{{cloudFrontURL}}new_ecomm/{{products.product_img1}}" class="image" alt="" /> 
                                <h4 class="name">{{ products.product_title}}</h4>
                              </div>
                              
                              <div class="grid">
                                <div class="sm:col-4 md:col-6 lg:col-6 xl:col-4" style="padding-left: 30px;">
                                    <button pButton pRipple type="button" icon="bi bi-shield-exclamation" label="Details" class="p-button-outlined detail-button"
                                      styleClass="p-button-sm" [routerLink]='"/admin/eportal/product-details/"+products.product_id'></button>
                                </div>
                                <div class="sm:col-4 md:col-6 lg:col-6 xl:col-6">
                                    <p-button      
                                styleClass="p-mt-3 add-to-cart p-button-sm"
                                label="Buy Now"
                                icon="pi pi-shopping-cart"
                                disabled="true"
                                (onClick)="addProductToCart()"
                              ></p-button>
                                </div>
                                <div class="sm:col-4 md:col-0 lg:col-0 xl:col-2">

                                </div> 
                              </div>
                              
                            </div>
                          </div>
                     
            </div>
           
        </div>
    </div>

</div>






