<p-toast></p-toast>
<stl-garv-frontend-bread-crumb></stl-garv-frontend-bread-crumb>
<style>
        .container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
   
</style>
<div class="health-form">
    <div class="grid global">
        <div class="col-12 ul-title">
            Case Details
        </div>

    </div>
    <div class="container">
        <div class="card col-12" style="width: 30%; background-color: white; height:fit-content;">
                <div class="grid">
                    <div class="col-12" style="text-align: center;"><strong>CaseId</strong></div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;">{{case_id}}</div>
                </div>
                <!-- <p-divider></p-divider> -->
                <div class="grid">

                    <div class="col-12" style="text-align: center;"><strong>PatientId</strong></div>
                </div>
                <div class="grid">

                    <div class="col-12" style="text-align: center;">{{patient_id}}</div>
                </div>
                <!-- <p-divider></p-divider> -->
                <div class="grid">

                    <div class="col-12" style="text-align: center;"><strong>PanchayatId</strong></div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;">{{panchayat_id}}</div>
                </div>
                <div class="grid">

                    <div class="col-12" style="text-align: center;"><strong>Case Status</strong></div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;">{{case_status}}</div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;"><strong>Created Date</strong></div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;">{{created_date}}</div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;"><strong>Updated Date</strong></div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;">{{updated_date}}</div>
                </div>
            
          </div>
        </div>
      </div>
    <!-- <div class="container d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <p-card [style]="{width:'360px'}">
                <div class="grid">
                    <div class="col-12" style="text-align: center;"><strong>CaseId</strong></div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;">{{case_id}}</div>
                </div>
                <p-divider></p-divider>
                <div class="grid">

                    <div class="col-12" style="text-align: center;"><strong>PatientId</strong></div>
                </div>
                <div class="grid">

                    <div class="col-12" style="text-align: center;">{{patient_id}}</div>
                </div>
                <p-divider></p-divider>
                <div class="grid">

                    <div class="col-12" style="text-align: center;"><strong>PanchayatId</strong></div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;">{{panchayat_id}}</div>
                </div>
                <div class="grid">

                    <div class="col-12" style="text-align: center;"><strong>Case Status</strong></div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;">{{case_status}}</div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;"><strong>Created Date</strong></div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;">{{created_date}}</div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;"><strong>Updated Date</strong></div>
                </div>
                <div class="grid">
                    <div class="col-12" style="text-align: center;">{{updated_date}}</div>
                </div>
            </p-card>
        </div>
    </div> -->