<p-toast></p-toast>
<stl-garv-frontend-bread-crumb></stl-garv-frontend-bread-crumb>
<stl-garv-health-menu></stl-garv-health-menu>
<div class="health-tab">
    <div class="grid global">
        <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
            <div class="col ul-table">
                <p-card>
                    <div class="grid">
                        <div class="col-12 misc">
                            <p-table #dt [value]="cases" dataKey="case_id" [rowHover]="true" styleClass="p-datatable-gridlines"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" responsiveLayout="scroll"
                                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [filterDelay]="0" sortField="created_date" [sortOrder]="-1" [globalFilterFields]="['patient_id','created_date']">
                                    
                                    <ng-template pTemplate="caption">
                                        <div class="table-header">
                                            <div class="grid">
                                               <div class="sm:col-0 md:col-6 lg:col-7 xl:col-8"></div>
                                                <div class="sm:col-12 md:col-6 lg:col-5 xl:col-4">
                                                    <div class="text-right">
                                                        <span class="p-input-icon-left">
                                                            <em class="pi pi-search"></em> 
                                                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
    
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="patient_id" id="patient_id">patient_id<p-sortIcon field="patient_id">
                                                <p-columnFilter type="text" field="patient_id" display="menu"></p-columnFilter>
                                            </p-sortIcon></th>
                                            <th pSortableColumn="case_id" id="case_id">case_id<p-sortIcon field="case_id">
                                                <p-columnFilter type="text" field="case_id" display="menu"></p-columnFilter>
                                            </p-sortIcon></th>
                                            <th pSortableColumn="doctor_id" id="doctor_id">doctor_id<p-sortIcon field="doctor_id">
                                                <p-columnFilter type="text" field="doctor_id" display="menu"></p-columnFilter>
                                            </p-sortIcon></th>
                                            <th pSortableColumn="vle_note" id="vle_note">VLE Note<p-sortIcon field="vle_note">
                                                <p-columnFilter type="text" field="vle_note" display="menu"></p-columnFilter>
                                            </p-sortIcon></th>
                                            <th pSortableColumn="case_date" id="case_date">Case Date<p-sortIcon field="case_date"></p-sortIcon></th>
                                            <!-- <th pSortableColumn="case_status" id="case_status">Status<p-sortIcon field="case_status"></p-sortIcon></th> -->
                                            <!-- <th  id="action" style="background-color: #1A5A91; color: #ffff;">Actions</th> -->
                                        </tr>
                                    </ng-template>
    
                                    <ng-template pTemplate="body" let-case>
                                        <tr>
                                            <td>{{case.patient_id}}</td>
                                            <td>{{case.case_id}}</td>
                                            <td>{{case.doctor_id}}</td>
                                            <td>{{case.vle_note}}</td>
                                            <td>{{case.case_date}}</td>
                                             <!-- <td>
                                                <div [ngClass]="{'active': case.case_status === 'active', 'inactive': case.case_status !== 'active' , 'treated': case.case_status === 'treated'}">
                                                    {{case.case_status}}
                                                </div>
                                            </td>-->
                                           <!-- <td style="text-align: left">
                                                <button pButton type="button" class="p-button-info p-button-rounded p-button-text" icon="pi pi-info-circle" pTooltip="View Details" tooltipPosition="bottom" routerLink="/health/user/case-details/{{case.case_id}}"></button> 
                                            </td>  -->
                                        </tr>
                                    </ng-template>
    
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="8"><strong>No cases found.</strong></td>
                                        </tr>
                                    </ng-template>
    
                            </p-table>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
