<stl-garv-frontend-bread-crumb></stl-garv-frontend-bread-crumb>
<div class="egov-home">
    <div class="grid global">
        <div class="col-12 title text-center">
             <h2>E-Governance</h2>
        </div>
    </div>
    <div class="grid global modules-list">
        
                <div class="col-6 card-space">
                    <a href="https://digitalseva.csc.gov.in/">
                       <p-card header="">
                          <ng-template pTemplate="header">
                            <div class="text-center">
                                <img alt="Img" style="height:198px; width: 100%;" class="module-img" src="{{cloudFrontURL}}E-Governance/csc_services.png">
                            </div>
                          </ng-template>

                          <div>
                            <div class="card-title">CSC SERVICES</div>
                            <p class="font"> 
                                Please access this tab for CSC Website. 
                            </p>
                       </div>
                        </p-card>
                    </a>
                </div>

                <div class="col-6 card-space">
                    <a routerLink="g2cservices">
                        <p-card header="">
                            <ng-template pTemplate="header">
                                <div class="text-center">
                                    <img alt="Img" style="height:198px; width: 100%;" class="module-img" src="{{cloudFrontURL}}E-Governance/g2c_services.png">
                                </div>
                            </ng-template>
                            <div>
                                <div class="card-title">G2C SERVICES</div>
                                <p class="font"> 
                                    Please access various add on Government services. 
                                </p>
                            </div>
                        </p-card>
                    </a>
                </div>

        
    </div>   
</div>




