<stl-garv-frontend-bread-crumb></stl-garv-frontend-bread-crumb>
<stl-garv-health-menu></stl-garv-health-menu>
<div class="health-dash">
    <div class="grid global">
        <div class="col-3 title-analytics">
            ANALYTICS
        </div>
    </div>
    <div class="grid global">
        <div class="sm:col-12 md:col-6 lg:col-4 xl:col-3">
            <p-card>
                <div class="grid">
                    <div class="col-12 card-head">Total Users</div>
                    <div class="col count">{{vle_users}}</div>
                    <div class="col icon">
                        <img style="height: 70px;" src="{{cloudFrontURL}}frontend/new_Dashboard_icons/user_icon.png" alt="">
                    </div>
                </div>
                <div class="grid">
                    <div class="col more">
                        <a routerLink="/health/vle/users-list" class="more">MORE INFO <em  class="pi pi-arrow-circle-right"></em>  </a>
                    </div>
                </div>
            </p-card>
        </div>

        <div class="sm:col-12 md:col-6 lg:col-4 xl:col-3">
            <p-card>
                <div class="grid">
                    <div class="col-12 card-head">Total Cases</div>
                    <div class="col count">{{total_cases}}</div>
                    <div class="col icon">
                        <img style="height: 70px;" src="{{cloudFrontURL}}frontend/new_Dashboard_icons/total_cases.png" alt="">
                    </div>
                </div>
                <div class="grid">
                    <div class="col more">
                        <a routerLink="/health/vle/cases-list" class="more">MORE INFO <em  class="pi pi-arrow-circle-right"></em>  </a>
                    </div>
                </div>
            </p-card>
        </div>

        <div class="sm:col-12 md:col-6 lg:col-4 xl:col-3">
            <p-card>
                <div class="grid">
                    <div class="col-12 card-head">Current Month Cases</div>
                    <div class="col count">{{current_month_cases}}</div>
                    <div class="col icon">
                        <img style="height: 70px;" src="{{cloudFrontURL}}frontend/new_Dashboard_icons/currentmonth_case.png" alt="">
                    </div>
                </div>
                <div class="grid">
                    <div class="col more">
                        <a routerLink="/health/vle/cases-list" class="more">MORE INFO <em  class="pi pi-arrow-circle-right"></em>  </a>
                    </div>
                </div>
            </p-card>
        </div>
        <div class="sm:col-12 md:col-6 lg:col-4 xl:col-3">
            <p-card>
                <div class="grid">
                    <div class="col-12 card-head">Equipments</div>
                    <div class="col count">7</div>
                    <div class="col icon">
                        <img style="height: 70px;" src="{{cloudFrontURL}}frontend/new_Dashboard_icons/productservice.png" alt="">
                    </div>
                </div>
                <div class="grid">
                    <div class="col more">
                        <a class="more">MORE INFO <em  class="pi pi-arrow-circle-right"></em>  </a>
                    </div>
                </div>
            </p-card>
        </div>
        
    </div>

    <div class="grid global">
        <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
            <div class="chart">
                <p-card>Month Wise Cases</p-card>
            </div>
        </div>
    </div>
</div>
