<p-toast></p-toast>
<stl-garv-frontend-bread-crumb></stl-garv-frontend-bread-crumb>
<div class="case-form">
    <div class="grid global">
        <div *ngIf="!editmode" class="col-4 ul-title">
            Create Case  
        </div>
        <div *ngIf="editmode" class="col-4 ul-title">
            Edit Case   
        </div>
    </div>
    <div class="grid global">
        <div class="sm:col-12 md-col-12 lg:col-12">
            <form [formGroup]="caseForm">
                <p-card styleClass="case-form" [style]="{width:'60%' }">
                    <div class="formgrid grid">

                      <!-- <div class="field col-12 md:col-6">
                        <p-dropdown
                                formControlName="user"
                                [options]="users"
                                optionLabel="first_name"
                                optionValue="user_id"
                                [style]="{ width: '100%' }"
                                [filter]="true"
                                filterBy="first_name"
                                [showClear]="true"
                                placeholder="Select User *"
                            >
                                ></p-dropdown>
                                <small *ngIf="createCaseForm.user.invalid && isSubmitted" class="p-error">
                                    <span *ngIf="createCaseForm.user.errors.required">User is required!</span>
                                </small>
                          
                      </div> 
          
                      <div class="field col-12 md:col-6">
                        <p-dropdown
                                formControlName="doctor"
                                [options]="doctors" 
                                optionLabel="first_name"
                                optionValue="user_id"
                                [style]="{ width: '100%' }"
                                [filter]="true"
                                filterBy="first_name"
                                [showClear]="true"
                                placeholder="Select Doctor"
                                (onChange)="formChange(1)"
                            >
                                ></p-dropdown>
                          
                      </div> -->
                      
                      <div class="field col-12">
                        <div class="p-inputgroup">
                          <input id="patient_id" placeholder="Patient Id" formControlName="patient_id" type="text" (change)="formChange(2)" pInputText>   
                      
                        </div>                     
                      </div>

                      <div class="field col-12">
                          <div class="p-inputgroup">
                            <input id="panchayat_id" placeholder="PanchayatId" formControlName="panchayat_id" type="text" (change)="formChange(2)" pInputText>     
                          </div>                    
                      </div>

                      <div class="field col-12">
                        <div class="p-inputgroup">
                          <input id="case_status" placeholder="Case status" formControlName="case_status" type="text" (change)="formChange(2)" pInputText>   
                               
                        </div>                    
                      </div>

                      <div class="field col-12">
                        <div class="p-inputgroup">
                          <input id="created_date" placeholder="Created Date" formControlName="created_date" type="text" (change)="formChange(2)" pInputText>   
                              
                        </div>                     
                      </div>
      
                      <div class="field col-12">
                          <div class="p-inputgroup">
                            <input id="updated_date" placeholder="Updated date" formControlName="updated_date" type="text" (change)="formChange(2)" pInputText>   
                              
                          </div>                     
                      </div>

                      <!-- <div class="field col-12 md:col-12"> 

                        <label for="image">Prescription Image</label>
                        <input #fileInput type="file" [style]="{ width: '100%'}" class="p-inputtext" accept="image/*" (change)="onImageUpload($event)" />
                        <div *ngIf="isUploaded && imageDisplay" class="col-2 p-mt-2 p-pl-0">
                            <img [src]="imageDisplay" alt=""/>

                            <div class="text-center" *ngIf="isUploaded && imageDisplay">
                              <p-button  pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (onClick)="removeImage(fileInput)"></p-button>
                             </div>
                        </div>
                        <div *ngIf="!isUploaded && editmode && hasPresc" class="col-2 p-mt-2 p-pl-0">
                            <img src="{{cloudFrontURL}}assets/prescription_image/{{imageDisplay}}" alt=""/>

                            <div class="text-center" *ngIf="isUploaded && imageDisplay">
                              <p-button  pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (onClick)="removeImage(fileInput)"></p-button>
                             </div>
                        </div> -->
                        
                    </div>
                   
      
                    <div class="formgrid grid">
                      <div class="field col-12 md:col-12 log_button text-center" >
                          <p-button label="Submit" styleClass="p-button-sm" (onClick)="onSubmit()" ></p-button>     
                      </div>
                  </div>

                </p-card>
            </form>
        </div>
    </div>
</div>    

