.pwd-background {
    background: url('../../../../../apps/stl-garv/src/assets/under-bg-image.png') no-repeat center fixed;
    background-size: cover;
    min-height: calc(100vh - 1px);
    opacity: 1;

    .container-change {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding-top: 145px;

        .p-card-body {
            padding-top: 0px;
            margin-bottom: 50px;
        }

        .p-card-content {
            padding-bottom: 0px;
        }

        .card-login {
            margin-top: 60px;
            width: 479px;
        }

        .login-ttl {
            padding-top: 0px;
            justify-content: center;
            text-align: center;
            font-size: 49px;
            font-family: 'Harabara', sans-serif;
            font-weight: 500;
            color: $primary-color;
            letter-spacing: 1.98px;
            opacity: 1;
        }
        .reset-desc{
            p{
                color: #3C3C3C;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
        
        input[type='text'].log-email {
            height: 45px;
            background-color: rgba(239, 239, 239, 0.74);
            margin: 0px 0px 3px 0px;
            width: 479px;
            border-radius: 8px;
            border: none;
        }
        p-password[type='password'].log-pass {
            .p-inputtext {
                height: 45px;
                background-color: rgb(240, 240, 240,0.74);
                margin: 3px;
                width: 479px;
                border-radius: 8px;
                border: none;
            }
        }

        .log_button {
            display: flex;
            justify-content: center;
            .p-button {
                background-color: $primary-color;
                margin-top: 20px;
                width: 150px;
                height: 45px;
                text-align: center;
            // font: normal normal medium 22px/19px 'Roboto', sans-serif;
                font-size: 20px;
                letter-spacing: 0.94px;
                color: #ffffff;
                border-radius: 9px;
                opacity: 1;

                &:hover {
                    background-color: $primary-color-light;
                }
            }
        }
        .back-login{
            display: flex;
            justify-content: center;
            .pi{
                margin-top: 5px;
                margin-right: 0px;
                color: $primary-color;
                
            }
        a {
            color: $primary-color;
            font: normal normal normal 16px/24px 'Roboto', sans-serif;
            letter-spacing: 0.14px;
            font-weight: 500;
            font-size: 17px;
            padding-top: 3px;
            cursor: pointer;
           
        }
        }
        .cancel-button {
            .p-button {
                margin-top: 36px;
                width: 96px;
                height: 43px;
                text-align: left;
                letter-spacing: 0.94px;
                text-transform: uppercase;
                opacity: 1;
            }
        }
    }
}
