<p-toast></p-toast>
<stl-garv-frontend-bread-crumb></stl-garv-frontend-bread-crumb>
<div class="health">
    <div class="grid global">
        <div class="col-12 title-health">
            Region Management
        </div>
    </div>
    <div class="grid global">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="tabmenu">
                <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
            </div>
        </div>
    </div>
</div>

<div class="health-tab">
    <div class="grid global">
        <div class="sm:col-4 md:col-4 lg:col-4 xl:col-4 ul-title">
            State Management   
        </div>
        <div class="sm:col-8 md:col-4 lg:col-4 xl:col-3 xl:col-offset-5 lg:col-offset-4 md:col-offset-4 create-btn">
            <p-button label="Add State" icon="pi pi-plus" (click)="createRegion()"></p-button>
        </div>
    </div>
    <div class="grid global">
        <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
            <div class="col ul-table">
                <p-card>
                    <div class="grid">
                        <div class="col-12 misc">
                            <p-table #dt  [value]="states" dataKey="user_id" [rowHover]="true" styleClass="p-datatable-gridlines" [loading]="loading"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"  responsiveLayout="scroll"
                                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [filterDelay]="0" [globalFilterFields]="['state_id','state_name','status']">
                                    
                                    <ng-template pTemplate="caption">
                                        <div class="table-header">
                                            <div class="grid">
                                               <div class="sm:col-0 md:col-6 lg:col-7 xl:col-8"></div>
                                                <div class="sm:col-12 md:col-6 lg:col-5 xl:col-4">
                                                    <div class="text-right">
                                                        <span class="p-input-icon-left">
                                                            <em class="pi pi-search"></em> 
                                                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
    
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th id="state_id" pSortableColumn="state_id">State Id<p-sortIcon field="state_id">
                                                <p-columnFilter type="text" field="state_id" display="menu"></p-columnFilter>
                                            </p-sortIcon></th>
                                            <th id="state_name" pSortableColumn="state_name">State Name<p-sortIcon field="state_name">
                                                <p-columnFilter type="text" field="state_name" display="menu"></p-columnFilter>
                                            </p-sortIcon></th>
                                            <th id="status" pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
                                            <th id="actions" style="background-color: #1A5A91; color: #ffff;">Actions</th>
                                        </tr>
                                    </ng-template>
    
                                    <ng-template pTemplate="body" let-region>
                                        <tr>
                                            <td>{{region.state_ID}}</td>
                                            <td>{{region.state_NAME}}</td>
                                            <td>
                                                <div [ngClass]="{'active': region.status === 'active', 'inactive': region.status !== 'active'}">
                                                    {{region.status}}
                                                </div>
                                            </td>
                                            <td style="text-align: left">
                                                <button pButton type="button" class="p-button-secondary p-button-rounded p-button-text" icon="pi pi-pencil" pTooltip="Edit" tooltipPosition="bottom" style="margin-right:10px" (click)="editRegion(region.state_ID)"></button>
                                                <button pButton type="button" class="p-button-danger p-button-rounded p-button-text" icon="pi pi-trash" pTooltip="Delete" tooltipPosition="bottom" (click)="deleteRegion(region.state_ID)"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
    
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="8"><strong>No state found.</strong></td>
                                        </tr>
                                    </ng-template>
    
                            </p-table>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>


<p-dialog [(visible)]="stateDialog" [style]="{width: '500px'}" [modal]="true" styleClass="p-fluid">
    <p-header *ngIf="!editmode">Add State</p-header>
    <p-header *ngIf="editmode">Edit State</p-header>
    <ng-template pTemplate="content" >
        <form [formGroup]="region_form">
            <div class="field">
                <input formControlName="state_id" type="text" pInputText id="name"  required autofocus disabled />
            </div>

            <div class="field">
                <input formControlName="state_name" placeholder="State Name" type="text" pInputText id="name"  required autofocus />
                <small *ngIf="createRegionForm.state_name.invalid && isSubmitted" class="p-error">
                    State Name is required!
                </small>
            </div>
    
            <div class="field">
                <p-dropdown 
                formControlName="status"  
                [options]="status" 
                optionLabel="status_name" 
                optionValue="status_code" 
                placeholder="Status"
                [showClear]="true"
                appendTo="body">
                </p-dropdown>
                <small *ngIf="createRegionForm.status.invalid && isSubmitted" class="p-error">
                    Status is required!
                </small>
            </div>

            <div class="field">
                <input formControlName="created_date" placeholder="" type="text" pInputText id="name"  required autofocus disabled />
            </div>
        </form>
        </ng-template>
    
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="cancel-button" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button" (click)="saveRegion()"></button>
        </ng-template>
</p-dialog>

<p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
></p-confirmDialog>





