<ul class="nav">
    <li *ngIf="!isAdmin"><a routerLink="/" routerLinkActive="active" 
        [routerLinkActiveOptions]={exact:true}>Home</a></li>
    <li *ngIf="!isAdmin"><a href="https://www.stlgarv.com/">About Us</a></li>

    <li *ngIf="isAdmin"><a routerLink="/admin/metadata" routerLinkActive="active" [routerLinkActiveOptions]={exact:false} >Meta Data Management</a></li>
    <li *ngIf="isAdmin"><a routerLink="/admin/eportal" routerLinkActive="active" >E-Portal</a></li>
    <li *ngIf="isAdmin"><a routerLink="/admin/entertainment" routerLinkActive="active" >Entertainment</a></li>

</ul> 